@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');


/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header-navigatie
        4.2 Header
        4.3 Main
        4.4 project-artikel
        4.5 service-section
        4.6 contact-section
        4.7 footer-section

    5. Media Queries
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/

:root {
    --Paars: #5722CD;
    --Blauw: #4845E4;
    --Roze: #ED4385;
    --Zwart: #0C0C0C;
    --Lichtpaars: #F2F0FF;
    /*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    --Lichtgrijs: #F3F6F9;
    /*voor de ACHTERGROND*/
    --Grijs: #7A7A7A;
    /*voor de servicetegel tekst*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

/*h1 {*/
/*    color: white;*/
/*    font-size: 36px;*/
/**/
/*}*/
/**/
/*h2, h4 {*/
/*    color: var(--Paars);*/
/**/
/*}*/
/**/
/**/
/*.view-project {*/
/*    font-size: 12px;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 1px;*/
}


/*////////////////////////
    3. Layout
////////////////////////*/
/*--------------3.1 Reusables----------------------*/
.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    /*---mag ook 1400px--*/
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*----boven en onder geen marge, links en rechts wel----*/
    margin: 0 50px;
}

/*-----------------3.2 Other---------------------------*/

/*.button {*/
/*    border-radius: 30px;*/
/*    border: none;*/
/*    background-color:var(--Roze);*/
/*    color: white;*/
/*    font-size: 12px;*/
/*    padding: 19px;*/
/*    width: 210px;*/
/*    box-shadow: 0px 4px 6px 3px rgba(0,0,0,0.19);*/

/*////////////////////////
    4. areas
////////////////////////*/

/*---------------4.1 Header-navigatie-----------------*/
/*.navbar {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/
/**/
/*.menu {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*.menu li {*/
/*    display: inline-block;*/
/*    margin-left: 0px;*/
/*    padding-top: 20px;*/
/*    padding-right: 30px;*/
/*    font-size: 16px;*/
/*}*/
/*.menu li:first-child {*/
/*    margin-left: 0;*/
/*}*/
/**/
/*.menu li a {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    padding: 5px 10px;*/
/*}*/
/**/
/*.menu li a:hover {*/
/*    background-color: #555;*/
/*    border-radius: 4px;*/
/*}*/

/*--------------4.2 Header------------*/

.header-section {
    background: linear-gradient(to right, var(--Blauw), var(--Paars));
    color: white;
    position: relative;
    overflow: hidden;
}

/*------------------*/

.header-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px 0;
}

.header-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 400px;
}

.header-navigation a {
   color: white;
    text-decoration: none;
}

/*------------------*/

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding-bottom: 100px
}

.header-content h1 {
    text-align: center;
    max-width: 675px;
    font-size: 37px;
}

.header-icoontjes-bottom {
    position: absolute;
    /* Pas deze waarde aan om de afbeelding precies op de rand te plaatsen */
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 65px;
}

.p-header {
    font-size: 22px;
    margin-top: 21px;
    letter-spacing: 1px;
}

.input-button-header {
    border-radius: 30px;
    border: none;
    background-color: var(--Roze);
    color: white;
    font-size: 12px;
    margin: 28px 0;
    padding: 18px;
    width: 210px;
    box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.19);
}
}

.header-icoontjes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-header {
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
}



/*-----------------4.3 Main--------------------------*/
.main-section {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-wrapper {
    padding: 83px 0;
}

.main-wrapper h2 {
    color: var(--Paars);
    text-align: center;
    max-width: 675px;
    font-size: 26px;
    padding: 12px 0;
}

.question-link {
    margin-top: 80px;
    font-size: 16px;
}

/*------------------4.4 project-artikel--------------------------------*/
.project-section {
    background-color: var(--Lichtgrijs);
    padding-top: 80px;
    padding-bottom: 50px;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    max-width: 300px;
    margin: 35px;
}

.image-container {
    flex-basis: 650px;
    margin-bottom: 80px;
}

.image-container img {
    width: 100%;
    box-shadow: 0px 20px 20px -4px rgba(0, 0, 0, 0.19);
}

.titel-artikel {
    margin-bottom: 14px;
}

.tekst-artikel {
    margin-bottom: 35px;
    margin-top: 33px;
}


/*--------------4.5 service-section---------------------------*/

.service-section {
    background-color: white;
}

.service-article img {
    width: 65px;
    margin: 8px 0;
}

.service-article {
    text-align: left;
    flex-basis: 325px;
    border: 1px solid var(--Paars);
    padding: 23px 30px;
    box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.08)
}

.inner-container__service-grid {
    flex-basis: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 32px;
    column-gap: 32px;
    margin: 0 20px;
    padding: 90px 90px;
}

.service-article h3 {
    color: var(--Paars);
}

.service-article p {
    font-size: 13px;
    color: var(--Grijs);
    padding-top: 20px;
    padding-bottom: 15px;
}
    /*flex-wrap: wrap;*/
    /*background-color: white;*/
    /*padding-top: 60px;*/
    /*padding-bottom: 83px;*/
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/





/*.service-container {*/
/*    width: 325px;*/
/*    height: 290px;*/
/*    border: 1px solid var(--Paars);*/
/*    margin: 17px;*/
/*    box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.08);*/
/*}*/
/**/
/*.items-container {*/
/*    margin-top: 29px;*/
/*    margin-bottom: 40px;*/
/*    margin-left: 30px;*/
/*    margin-right: 30px;*/
/**/
/**/
/*}*/
/*.items-container p{*/
/*    display: block;*/
/*    font-size: 14px;*/
/*    color: var(--Grijs);*/
/*    margin-top: 22px;*/
/*}*/
/**/
/*.service-icoon {*/
/*    width: 60px;*/
/*    margin-bottom: 4px;*/
/*}*/

/*----------------contact-section------------------*/

.contact-section {
    background: var(--Paars);
    color: white;
}

/*-----------------footer-section--------------------*/
.footer-section {
    background-color: var(--Zwart);
    color: white;
    padding: 20px;
    font-size: 12px;
}


/*////////////////////////
    5. Media Queries
////////////////////////*/


