@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');


/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header-navigatie
        4.2 Header
        4.3 Main
        4.4 project-artikel
        4.5 service-section
    5. Media Queries
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/

:root {
    --Paars: #5722CD;
    --Blauw: #4845E4;
    --Roze: #ED4385;
    --Zwart: #0C0C0C;
    --Lichtpaars: #F2F0FF;
    /*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    --Lichtgrijs: #F3F6F9;
    /*voor de ACHTERGROND*/
    --Grijs: #7A7A7A;
    /*voor de servicetegel tekst*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h4 {
    font-family: 'Merriweather', serif;
}

h1 {
    color: white;
    font-size: 36px;
    width: 700px;
}

h2 {
    color: var(--Paars);
    font-size: 25px;
    width: 700px;
}

h4 {
    color: var(--Paars);
    font-size: 20px;
}

.titel-artikel {
    color: var(--Zwart)
}

.tekst-artikel {
    font-size: 16px;
}

.view-project {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/*////////////////////////
    3. Layout
////////////////////////*/

/*////////////////////////
    4. areas
////////////////////////*/

/*--------4.1 Header-navigatie-----------------*/
.navbar {
    display: flex;
    justify-content: flex-end;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline-block;
    margin-left: 0px;
    padding-top: 20px;
    padding-right: 30px;
    font-size: 16px;
}
.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.menu li a:hover {
    background-color: #555;
    border-radius: 4px;
}

/*--------------4.2 Header------------*/

header {
    position: relative;
    background: linear-gradient(to right, var(--Blauw), var(--Paars));
    overflow: hidden;
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 125px;
    padding-bottom: 80px;
}

.p-header {
    color: white;
    margin-top: 25px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.input-button-header {
    border-radius: 30px;
    border: none;
    background-color:var(--Roze);
    color: white;
    font-size: 12px;
    padding: 19px;
    width: 210px;
    box-shadow: 0px 4px 6px 3px rgba(0,0,0,0.19);
}

.header-icoontjes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-header {
    position: absolute;
    bottom: -25px; /* Pas deze waarde aan om de afbeelding precies op de rand te plaatsen */
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
}

/*-----------------4.3 Main--------------------------*/

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    margin-top: 90px;
    margin-bottom: 85px;
}

.question-link {
    margin-top: 85px;
    font-size: 16px;
}

/*------------------4.4 project-artikel--------------------------------*/
article {
    background-color: var(--Lichtgrijs);
    padding: 50px;
    padding-bottom: 150px;

}

.project-container {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.project-container-omgekeerd {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 81px;
    margin-bottom: 81px;
}

.text-container {
    margin-right: 35px;
    margin-left: 35px;
    width: 300px;
}

.text-container img {
    width: 45px;
}

.titel-artikel {
    margin-bottom: 14px;
}

.tekst-artikel {
    margin-bottom: 35px;
    margin-top: 33px;
}

.image-container {
    margin-left: auto;
    margin-right: 0px;
    flex-basis: 665px;
    flex-grow: 0;
    flex-shrink: 1;
}

.image-container-omgekeerd {
    margin-left: 0px;
    margin-right: auto;
    padding-right: 10px;
    flex-basis: 665px;
    flex-grow: 0;
    flex-shrink: 1;
}

.image-container img {
    width: 100%;
    box-shadow: 0px 20px 20px -4px rgba(0,0,0,0.19);
}

.image-container-omgekeerd img {
    width: 100%;
    box-shadow: 0px 20px 20px -4px rgba(0,0,0,0.19);
}

/*--------------4.5 service-section---------------------------*/

section {
    display: flex;
    flex-direction:row ;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 83px;
    padding-left: 100px;
    padding-right: 100px;

}

.service-container {
    width: 325px;
    height: 290px;
    border: 1px solid var(--Paars);
    margin: 17px;
    box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.08);
}

.items-container {
    margin-top: 29px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;


}
.items-container p{
    display: block;
    font-size: 14px;
    color: var(--Grijs);
    margin-top: 22px;
}

.service-icoon {
    width: 60px;
    margin-bottom: 4px;
}

/*////////////////////////
    5. Media Queries
////////////////////////*/

@media screen and (min-width: 768px) {
    /* voor tablets */
    html {
        font-size: 18px;
    }
}


@media screen and (min-width: 1200px) {
    /* voor desktops en groter */
    html {
        font-size: 20px;
    }
}

