@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');


/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header-navigatie
        4.2 Header
        4.3 Main
        4.4 project-artikel
        4.5 service-section
        4.6 contact-section
        4.7 footer-section

    5. Media Queries
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Paars: #5722CD;
    --Blauw: #4845E4;
    --Roze: #ED4385;
    --Zwart: #0C0C0C;
    --Lichtpaars: #F2F0FF;
    /*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    --Lichtgrijs: #F3F6F9;
    /*voor de ACHTERGROND*/
    --Grijs: #7A7A7A;
    /*voor de servicetegel tekst*/
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
}


/*////////////////////////
    2. Typography
////////////////////////*/



h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

/*////////////////////////
    3. Layout
////////////////////////*/
/*--------------3.1 Reusables----------------------*/

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex-basis: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*----boven en onder geen marge, links en rechts wel----*/
    margin: 0 35px;
    flex-shrink: 1;
    flex-grow: 0;
}

.text-begrenzer {
    max-width: 850px;
    text-align: center;
}

.area-padding {
    padding: 100px 0;
}

/*-----------------3.2 Other---------------------------*/



/*////////////////////////
    4. areas
////////////////////////*/

/*---------------4.1 Header-navigatie-----------------*/



/*-----------------4.3 Main--------------------------*/


/*------------------4.4 project-artikel--------------------------------*/


/*--------------4.5 service-section---------------------------*/


/*----------------contact-section------------------*/


/*-----------------footer-section--------------------*/

footer {
    background-color: var(--Zwart);
    color: white;
    padding: 22px;
    font-size: 12px;
}


/*////////////////////////
    5. Media Queries
////////////////////////*/
@media screen and (max-width: 576px) {


}